Q1. What is a database? Differentiate between SQL and NoSQL databases?

A database is an organized collection of structured information, or data, typically stored electronically in a computer system. A database is usually controlled by a database management system (DBMS).

The five critical differences between SQL and NoSQL are:
    
1.SQL databases are relational, and NoSQL databases are non-relational.
2.SQL databases use structured query language (SQL) and have a predefined schema. NoSQL databases have dynamic schemas for unstructured data.
3.SQL databases are vertically scalable, while NoSQL databases are horizontally scalable.
4.SQL databases are table-based, while NoSQL databases are document, key-value, graph, or wide-column stores.
5.SQL databases are better for multi-row transactions, while NoSQL is better for unstructured data like documents or JSON.

Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

Data Definition Language(DDL) commands in DBMS are used to define the database objects. We can create, delete and alter tables using DDL commands. Since a database structure is designed by DDL commands, they are called Data Definition Languages (DDLs). They consist of commands such as CREATE, ALTER, TRUNCATE, and DROP.

CREATE: CREATE is a DDL command in DBMS that is used to create tables or databases. While creating a table, we specify table names, column names, datatypes of each column, and column sizes. If there are any integrity constraints or key constraints of the table like PRIMARY KEY, UNIQUE, NOT NULL, etc. we must specify them while creating it along with the column names and details.

--Defining a new table using CREATE:

CREATE TABLE Students
(
    --Giving the column names and data type details of the table.
    Roll_no INT PRIMARY KEY,
    Name VARCHAR(20),
    Age INT,
    Address VARCHAR(30)
);

ALTER: ALTER is a DDL command used to change the structure of an existing database table. Using this command we can perform operations like adding a new column, removing any column, adding or removing integrity constraints, or changing the data type of the existing column on the existing table. ALTER command is used to modify the existing structure of the table.

ALTER TABLE Students ADD Date_Of_Birth  DATE;

TURNCATE : TRUNCATE is a DDL command used to delete all records from the table while keeping its structure intact. This command is used to get rid of all the records and free up the space being used by the table. However, the table's structure remains unchanged, including the column names and details. Thus, the table can be used to store new data in the future.

TRUNCATE TABLE Students;

DROP : DROP is a DDL command used to delete an existing table completely from the database. This command deletes the table records along with their structure. The table and all its components are completely deleted and cannot be found again in the database.

DROP TABLE Students;

Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

Dml in DBMS is one of the types of SQL queries which helps you in performing all types of data modification in a database like inserting, modifying, and deleting its data.

INSERT : INSERT is another important data manipulation command in Structured Query Language used to insert data into the rows of a table.

INSERT INTO student_details (ROLL_NO, FIRST_NAME, LAST_NAME, MARKS) VALUES (4, 'Arpit', 'Garg', 82);

UPDATE : UPDATE command is another important data manipulation command in Structured Query Language, it allows us to update or modify the existing data in tables. It changes the data from one or more records in a table.

UPDATE student_details
SET MARKS = 92
WHERE ROLL_NO = 4;

DELETE : DELETE is another useful data manipulation command in Structured Query Language, which allows us to remove single or multiple records from the database tables depending upon the condition we specify in the WHERE clause.

DELETE FROM student_details WHERE MARKS < 80;

Q4. What is DQL? Explain SELECT with an example

DQL(Data Query Language): Data query language consists of only one command upon which data selection in SQL relies. The SELECT command in combination with other SQL clauses is used to retrieve and fetch data from databases/tables based on certain conditions applied by the user.

select age as myAge
from my_table;

select * from my_table

Q5. Explain Primary Key and Foreign Key.

PRIMARY KEY : A primary key is used to ensure that data in the specific column is unique. A column cannot have NULL values. It is either an existing table column or a column that is specifically generated by the database according to a defined sequence.

FOREIGN KEY : A foreign key is a column or group of columns in a relational database table that provides a link between data in two tables. It is a column (or columns) that references a column (most often the primary key) of another table.

Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

import mysql.connector
mydb = mysql.connector.connect(
  host="localhost",
  user="abc",
  password="password"
)
mycursor = mydb.cursor()
mycursor.execute("CREATE DATABASE if not exists test2")
mydb.close()

CURSOR() : In MySQL, a cursor allows row-by-row processing of the result sets. A cursor is used for the result set and returned from a query. By using a cursor, We can iterate or step through the results of a query and perform certain operations on each row.

EXECUTE() : execute() Method. This method executes the given database operation (query or command). The parameters found in the tuple or dictionary params are bound to the variables in the operation. Specify variables using %s or %( name )s parameter style (that is, using format or pyformat style).

Q7. Give the order of execution of SQL clauses in an SQL query.

1	FROM	Tables are joined to get the base data.
2	WHERE	The base data is filtered.
3	GROUP BY	The filtered base data is grouped.
4	HAVING	The grouped base data is filtered.
5	SELECT	The final data is returned.
6	ORDER BY	The final data is sorted.
7	LIMIT	The returned data is limited to row count.